@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #242a38;
  /* margin: -4px -4px; */
  height: 6vw;
}

header h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 4vw;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.options {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 6vw 0 6vw 0;
  gap: 30px;
}

.options img {
  width: 30vw;
}

footer {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}
