@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

.setor {
  margin: 1vw auto;

  width: 60vw;
  height: 40vh;

  background: #242a38;

  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.setorTxt {
  padding: 20px 0;
  margin: 0 20px;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  font-size: 3vw;
}

.languageType {
  display: flex;
  background-color: #c4c4c4;
  margin-right: 4%;
  float: right;
  font-family: 'Inconsolata', monospace;
  padding: 1vh 2vw;
  color: #242a38;
  border-radius: 10px;
  margin-top: 2vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5vw;
}

.setor textarea {
  padding: 20px 20px;
  margin: 0 20px 20px 20px;
  font-family: 'Inconsolata', monospace;
  width: 56vw;
  background: #c4c4c4;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  height: 60%;
  resize: none;
}

.buttons {
  margin: 10px auto;
  max-width: 55vw;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 25px;
}
.backButton {
  float: left;
  margin-left: 1vw;
  width: 5vw;
  height: 3vw;

  background: #242a38;
  border: 1vw solid #242a38;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: whitesmoke;

  font-size: 1vw;

  font-family: 'Inconsolata', monospace;
}

.backButton:hover {
  background: #c4c4c4;
  border: 10px solid #c4c4c4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #242a38;
}

.buttons button {
  width: 13vw;
  height: 5vw;

  background: #242a38;
  border: 1vw solid #242a38;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: whitesmoke;

  font-size: 3vw;

  font-family: 'Inconsolata', monospace;
}

.buttons button:hover {
  background: #c4c4c4;
  border: 10px solid #c4c4c4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #242a38;
}
